.settings-container {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  color: #333;
  background-color: #fff;
}

.settings-header {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.settings-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.settings-info {
  display: flex;
  align-items: center;
}

.btn-logout {
  padding: 10px 20px;
  background-color: #0E1C4C;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto; /* Pushes the button to the right */
}

.settings-notifications, .settings-accessibility {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.settings-avatar {
  display: flex;
  align-items: center;
}

.avatar-image {
  width: 150px !important; 
  height: 150px !important; 
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #ccc;
}

.avatar-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.btn-change-photo {
  background-color: transparent; 
  color: #0E1C4C; 
  padding: 0; 
  border: none; 
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline; 
  display: inline; 
  margin: 0; 
}

.settings-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px; 
  font-weight: normal; 
}

.avatar-placeholder {
  width: 60px;
  height: 60px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 24px;
  color: #333;
}

.btn-email-updates, .btn-save-changes {
  background-color: #0E1C4C;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}

h2, h3 {
  margin: 0 0 15px 0;
}

label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.btn-save-changes {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  color: #0E1C4C;
}

.settings-notifications {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.settings-accessibility {
  border-top: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

