

.pageContent {
    margin: 3rem;
}

.h1Container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.h2Container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cardContainer {
    display:flex;
    flex-direction: row;
}

.tableContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbarTitle {
    flex-grow:1;
}

.profileImg {
    width: 23px;
    height: 23px;
    margin-right: 10px;
    border-radius: 50%;
}

.tableCellTextContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card {
    max-width: 17rem;
    display:block;
}

.cardText {
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-carousel .react-multi-carousel-track {
    margin-bottom: 25px;
}

.upcomingEventBar {
    background-color: #DADEFF;
    width: 40rem;
    padding: 1rem;
    border-left: 0.2rem solid #11007B;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-bottom:0.5rem;
}

.dateChip {
    background-color: #11007B;
    display:inline-block;
    padding:0.2rem;
    border-radius:4px;
}

.eventBarsAndCalendar {
    display: flex;
    flex-direction: row;
}

.formQuestion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}

.tagContainer {
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-family: "Open Sans"
}
