

.pageContent {
    margin: 3rem;
}

.h1Container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.h2Container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cardContainer {
    display:flex;
    flex-direction: row;
}

.programCard {
    padding-right:1.3rem;
}