.pageContent {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.h1Container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.h2Container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cardContainer {
    display: flex;
    flex-direction: row;
}

.tableContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbarTitle {
    flex-grow: 1;
}

.profileImg {
    width: 23px;
    height: 23px;
    margin-right: 10px;
    border-radius: 50%;
}

.card {
    max-width: 17rem;
    display: block;
}

.cardText {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-carousel .react-multi-carousel-track {
    margin-bottom: 25px;
}

.upcomingEventBar {
    background-color: #dadeff;
    padding: 1rem;
    border-left: 0.2rem solid #11007b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.dateChip {
    background-color: #11007b;
    display: inline-block;
    padding: 0.2rem;
    border-radius: 4px;
}

.eventBarsAndCalendar {
    display: flex;
    flex-direction: row;
}

.formQuestion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
}

.tagContainer {
    //padding-top: 1rem;
    //padding-bottom: 3rem;
    font-family: "Open Sans";
}

.datePickerQuestion {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.eventTitle {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}

.pageRow {
    margin-bottom: 5vh;
}

.carousel-item {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}
